.DS_Store
data/.DS_Store
data/gtfs/.DS_Store
data/gtfs/real/.DS_Store
data/gtfs/real/23_08_08/agency.txt
data/gtfs/real/23_08_08/calendar_dates.txt
data/gtfs/real/23_08_08/routes.txt
data/gtfs/real/23_08_08/stop_times.txt
data/gtfs/real/23_08_08/stops.txt
data/gtfs/real/23_08_08/trips.txt
data/gtfs/real/23_08_10/agency.txt
data/gtfs/real/23_08_10/calendar_dates.txt
data/gtfs/real/23_08_10/routes.txt
data/gtfs/real/23_08_10/shapes.txt
data/gtfs/real/23_08_10/stop_times.txt
data/gtfs/real/23_08_10/stops.txt
data/gtfs/real/23_08_10/trips.txt
data/gtfs/real/23_08_11/agency.txt
data/gtfs/real/23_08_11/calendar_dates.txt
data/gtfs/real/23_08_11/routes.txt
data/gtfs/real/23_08_11/shapes.txt
data/gtfs/real/23_08_11/stop_times.txt
data/gtfs/real/23_08_11/stops.txt
data/gtfs/real/23_08_11/trips.txt
data/gtfs/real/23_08_31/agency.txt
data/gtfs/real/23_08_31/calendar_dates.txt
data/gtfs/real/23_08_31/routes.txt
data/gtfs/real/23_08_31/shapes.txt
data/gtfs/real/23_08_31/stop_times.txt
data/gtfs/real/23_08_31/stops.txt
data/gtfs/real/23_08_31/trips.txt
data/gtfs/real/23_09_08/agency.txt
data/gtfs/real/23_09_08/calendar_dates.txt
data/gtfs/real/23_09_08/routes.txt
data/gtfs/real/23_09_08/shapes.txt
data/gtfs/real/23_09_08/stop_times.txt
data/gtfs/real/23_09_08/stops.txt
data/gtfs/real/23_09_08/trips.txt
data/gtfs/scheduled/.DS_Store
data/gtfs/scheduled/agency.txt
data/gtfs/scheduled/calendar_dates.txt
data/gtfs/scheduled/routes.txt
data/gtfs/scheduled/shapes.txt
data/gtfs/scheduled/stop_times.txt
data/gtfs/scheduled/stops.txt
data/gtfs/scheduled/trips.txt
data/odm/.DS_Store
data/odm/23_06/.DS_Store
data/odm/23_06/DATOS_ANEXOS/DIM_LINEAS.csv
data/odm/23_06/DATOS_ANEXOS/DIM_PARADAS.csv
data/odm/23_06/DATOS_ANEXOS/DIM_TITULOS.csv
data/odm/23_06/MOD_TP_JUNIO_LAB/LEEME_MOD_TP_JUNIO_LAB.csv
data/odm/23_06/MOD_TP_JUNIO_LAB/MOD_TP_JUNIO_LAB.csv
data/odm/23_06/MOD_TP_JUNIO_NO_LAB/LEEME_MOD_TP_JUNIO_NO_LAB.csv
data/odm/23_06/MOD_TP_JUNIO_NO_LAB/MOD_TP_JUNIO_NO_LAB.csv
data/odm/23_07/.DS_Store
data/odm/23_07/DATOS_ANEXOS/DIM_LINEAS.csv
data/odm/23_07/DATOS_ANEXOS/DIM_PARADAS.csv
data/odm/23_07/DATOS_ANEXOS/DIM_TITULOS.csv
data/odm/23_07/MOD_TP_JULIO_LAB/LEEME_MOD_TP_JULIO_LAB.csv
data/odm/23_07/MOD_TP_JULIO_LAB/MOD_TP_JULIO_LAB.csv
data/odm/23_07/MOD_TP_JULIO_NO_LAB/LEEME_MOD_TP_JULIO_NO_LAB.csv
data/odm/23_07/MOD_TP_JULIO_NO_LAB/MOD_TP_JULIO_NO_LAB.csv
